{% extends 'admin/model/edit.html' %}
{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/lib.html' as lib with context %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        {{ layout.messages() }}
        {% call lib.form_tag(form) %}
        {{ lib.render_form_fields(form) }}
        <hr>
        <div class="form-buttons">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" class="btn btn-primary" value="{{ gettext('Send') }}"/>
                </div>
            </div>
        </div>
        {% endcall %}
    </div>
</div>
{{ lib.form_css() }}
{{ lib.form_js() }}
{% endblock %}
